

.overlay{
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  padding: 80px 20px;
}

.container-fluid {
  margin: 0px;
}

.carousel-caption h3 {
  color: #fff !important;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  padding: 1em;
}

/* .container-fluid {
  margin: 5px 0px;
  padding: 0ps 0px;
} */

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.main-content-text{
font-size: 20px;
/* text-shadow: 10px 2px 10px; */

}
.card {
  box-shadow: 5px 5px 10px rgb(37, 37, 37) ;
  height: 650px;
}

.card img {
  height: 350px;
  object-fit: cover;
}


nav.navbar {
  background: rgba(0, 0, 0, 0.5);
  transition: background-color .1s ease-in-out;
  -moz-transition: background-color .1s ease-in-out;
  -webkit-transition: background-color .1s ease-in-out;
}

.navbar a.navbar-brand {
  color: white;
}
/* change navbar-brand color on hover */
.navbar a.navbar-brand:hover {
  color: #aaa;
}

.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #aaa;
}

.navbar ul.navbar-nav li.nav-item .dropdown-menu {
  background:  rgba(0, 0, 0, 0.5);
}

.navbar ul.navbar-nav li.nav-item a.dropdown-item {
  color: #fff;
}


.navbar ul.navbar-nav li.nav-item a.dropdown-item:hover,
.navbar ul.navbar-nav li.nav-item a.dropdown-item:focus {
  color: #000;
  background-color:#aaa;
  font-weight: 400;
}




/* change navbar to black on scroll */
.scrolling-active {
  background-color: #000  !important;
  transition: background-color .1s ease-in-out;
  -moz-transition: background-color .1s ease-in-out;
  -webkit-transition: background-color .1s ease-in-out;
}
/* end change navbar */


.footer h5 {
  text-align: center;
  color: #fff;
  border-bottom: red solid 2px;
  padding-bottom: 10px;
  padding-top: 20px;
  
}
.footer .custom-hours-padding {
 text-align: center;
  
}

.custom-address-home {
  padding-left: 12px;
}
.custom-address {
  padding-left: 34px;
}

.footer {
background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(113,113,113,1) 100%);
color: #fff;
}

.navbar .contact-button {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2em;
  background-color: gold;
  border: #000 solid 1px;
  text-align:center;
  font-weight: 800px;
  }

  .contact-button {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2em;
    background-color: gold;
    border: #000 solid 1px;
    text-align:center;
    font-weight: 800px;
    }

  .contact-button:hover{
    background-color: inherit;
    border: orange solid 1px;
    color: #fff;
  }

  
.login-button {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2em;
  background-color: rgb(0, 190, 181);
  border: #000 solid 1px;
  text-align:center;
  margin: auto;
  }

  .login-button:hover{
    background-color: inherit;
    border: rgb(0, 190, 181) solid 1px;
    color: #fff;
  }


  footer #address-links{
    color: #fff !important;
  }
  
  footer #address-links:hover {
  color: #aaa;
  }

  .copyright {
    border-top: rgb(56, 56, 56) solid 1px;
  }

  .login-modal-header {
    background-color: rgb(0, 137, 155);
    color: #fff;
  }

  .login-modal-logo {
    height: 100px;
    object-fit: cover;
  }
  
  .contact-modal-header {
    background-color: gold;
    color: #000;
  }
  .contact-modal-logo {
    height: 100px;
    object-fit: cover;
  }

.grey-text {
  color: gray;
}
